.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s;
    pointer-events: none;
    z-index: 100;
}

.modalContent {
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}